@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
    margin: 0;
    padding: 0;
}
header {
    margin: 10px;
    background-color: #fafafa;
}
.logo {
    float: left;
    font-family: Monoton,Times, serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-left: 20px; 
}

.logo h1  {
    font-weight: 400;
    color: #61988E;
    font-size: 2em;
    
}
header span {
    font-size: 17px;
    color: #61988E;
    font-weight: 600;
    padding: 0;
    margin: 0;

}
.nav-bg-color {
    background: #61988E
}
.menu nav {
    padding: 0;
}
